@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border-color: blue !important; */
}
.inter {
  font-family: "Inter", sans-serif;
}
body {
  background-color: #fff;
  color: #000;
  /* overflow: hidden; */
}
*:not(button) {
  border-color: #e5e7eb !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #797979;
  height: 20px;
}
/* .custom-scrollbar ::-webkit-scrollbar-thumb{
   background: transparent !important;
} */
